<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Ionic 5 Custom Directive
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Username" [(ngModel)]="username" 
      [appIonicInput]="myStyles"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Password"></ion-input>
    </ion-item>

  </ion-list>
  <p *ngIf="myStyles.showUsername" class="hint">
    You are typing username
  </p>
</ion-content>